@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightpink;
}

.container {
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 10px;
    padding: 30px;
    margin: 0 10px;
    padding-bottom: 0px;
    background-color: #f5f5f5;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    max-height: 500px;
    overflow: auto;
}

.form-group {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

input,
select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    background-color: #009688;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    grid-column: 1 / span 2;
}

button:hover {
    background-color: #00766c;
}

h1 {
    margin-bottom: 30px;
    color: #009688;
}
